@font-face {
  font-family: 'BerlinSansFB';
  src: url('assets/BRLNSB.TTF') format('TTF'),
       url('assets/BRLNSR.TTF') format('TTF');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #C8ECFF;
    background: color(display-p3 0.8118 0.9216 1);
    opacity: 0.5;
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100% ;
}

.agenda {
    color: #006BC3;
    color: color(display-p3 0.0392 0.4118 0.7412);
    font-family: "Bagel Fat One";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


