@font-face {
  font-family: 'BerlinSansFB';
  src: url('assets/BRLNSB.TTF') format('TTF'),
       url('assets/BRLNSR.TTF') format('TTF');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #C8ECFF;
    background: color(display-p3 0.8118 0.9216 1);
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

p {
    margin: 0;
}

