body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #C8ECFF;
    background: color(display-p3 0.8118 0.9216 1);
    opacity: 0.5;
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100%
}
