@font-face {
  font-family: 'BerlinSansFB';
  src: url('assets/BRLNSR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BerlinSansFB';
    src: url('assets/BRLNSB.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
    margin: 0;
    margin-top: 70.33px;
    display: flex;
    flex-direction: column;
    background: #C8ECFF;
    background: color(display-p3 0.8118 0.9216 1);
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

html {
    scroll-behavior: smooth;
}

p {
    margin: 0;
}

#About{
    margin-top: 0px;  
    align-items: center; 
}
.about{
    text-align: center;
    width: 100%;
    height: 890px;
}

.about h1{
    color: #0A69BD;
    font-family: "Bagel Fat One";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 100px;
}

.box-flex{
    display: flex;
    gap: 50px; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-box{
    width: 550px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 106px;
    border: 5px solid rgba(255, 255, 255, 0.00);
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.51) 1.03%, rgba(255, 255, 255, 0.00) 97.67%);
    box-shadow: 20px 23px 79px 17px rgba(108, 112, 109, 0.25);
    backdrop-filter: blur(10.5px);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about-box-cse-logo{
    margin-top: 30px;
    width: 400px;
    height: auto;
}

.about-box-eco-logo{
    margin-top: 40px;
    width: 200px;
    height: auto;
}

.about-box p{
    font-family: "Berlin Sans FB";
    color: #0A69BD;
    margin: 35px;
    font-size: 27px;
    text-align: justify;
}

#Sponsors{
    margin-top: 120px;
    margin-bottom: 200px;
    text-align: center;
}

#Sponsors h1{
    color: #0A69BD;
    font-family: "Bagel Fat One";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 100px;
}

.sponsor{
    width: 300px;
    height: 300px;
    display: flex;
    flex-shrink: 0;
    border-radius: 60px;
    border: 5px solid rgba(255, 255, 255, 0.00);
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.51) 1.03%, rgba(255, 255, 255, 0.00) 97.67%);
    box-shadow: 20px 23px 79px 17px rgba(108, 112, 109, 0.25);
    backdrop-filter: blur(10.5px);
    justify-content: center;
    align-items: center;
}

.sponsor img{
    height: 220px;
    width: auto;
}

footer{
    display: flex;
    margin-top: 50px;
    background-color: #0A69BD; 
    height: 135px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-img1{
    position: absolute;
    left: 20px;
    height: 100px;
    width: auto;
}

.footer-img2{
    position: absolute;
    right: 20px;
    height: 110px;
    width: auto;
    padding-top: 8px;
}

footer p{
    font-family: "Berlin Sans FB";
    color: white;
    font-size: 55px;
}

.contact img{
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
}


.title {
    color: #0A69BD;
    font-family: "Bagel Fat One";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}
.title h1 {
    margin-top: 0;
    margin-bottom: 0px; 
}
h1{
 margin-top:0;
 margin-bottom: 0; 
}

.elements {
  position: relative;
  height: 500px; 
  display: flex ;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom:200px; 
}
.image-container {   
  height:460px;
  width:610px;
  z-index: 2;
}
 .video-container {
  position:absolute;
  width: 720px;
  height:430px;
  border-radius: 64px;
  right: 0;
  top:25%;
}

.vd {
    object-fit:contain ;
    width: 100%;
    height: 100%;
}
.image-container img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 64px;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button {

  padding: 20px 60px;
  box-sizing: border-box;
  background: linear-gradient(277.15deg, #0a69bdff -13.86%, #006BC3 54.48%, #00315A 121.52%);
  border-radius: 44.5px;
  border: solid linear-gradient(277deg, color(display-p3 0.2704 0.6006 0.8926) -13.86%, color(display-p3 0.0392 0.4118 0.7412) 54.48%, color(display-p3 0.0181 0.1895 0.3412) 121.52%);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  
  font-family: 'BerlinSansFB', 'Berlin Sans FB', Arial, sans-serif;
  font-style: normal;
  font-weight: normal ;
  font-size: 50px;
  line-height: 57px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.register-button:hover {
  filter: drop-shadow(0px 7px 7px #00000059);
  transform: translateY(-2px);
}
.register-button:active {
  transform: translateY(0px);
  filter: drop-shadow(0px 3px 3px #00000040);
}

.faq-answer .register-button {
    font-size: 30px ;
    padding: 0px 32px;
    margin-right: 32px;
    font-size: 16px ;
}

.hero-button .register-button , .navbar .register-button{
    font-size: 34px ;
    padding: 10px 40px;
    margin-bottom: 40px;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Teaser {
  margin-top: 150px ;
  margin-bottom: 150px ;
}


#FAQ {
    padding: 40px 20px;
    position: relative;
}
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    width: 64.1875rem;
    padding: 0.25rem 0 5.25rem 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6875rem;
    flex-shrink: 0;
    align-items: center ;
}
.picture-element {
    width: 30.75rem;
    height: 37.5625rem;
    aspect-ratio: 492/601;
    position: absolute;
    right: 0;
    top : 30% ;

}

.faq-title{
    text-align: center;
    font-size: 80px;
    color: #006BC3;
    margin-bottom: 40px;
    font-family: 'Bagel Fat One';
    width: 100%;
    font-weight: bold;
}

.faq-item {
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 6.625rem;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.51) 1.03%, rgba(255, 255, 255, 0.00) 97.67%);
    box-shadow: 20px 23px 79px 17px rgba(108, 112, 109, 0.25);
    backdrop-filter: blur(10.5px);
    width: 65rem;
    height: 6rem;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;

}

.faq-item.active {
    height: auto;
    min-height: 12rem;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.8) 1.03%, rgba(255, 255, 255, 0.3) 97.67%);
    border-radius: 3rem;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
 
}

.faq-question {
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0A69BD;
    transition: color 0.3s ease;
    font-family: "Berlin Sans FB Regular";
    height: 6rem;
    width: 100%;
    box-sizing: border-box;
 
}

.faq-item.active .faq-question {
    padding-bottom: 10px;
    height: auto;
    min-height: 6rem;

}

.faq-question:hover {
    color: #042c4e;
}

.arrow {
    font-size: 2rem;
    font-weight: normal;
    transition: transform 0.3s ease;
    color: #666;
    width: 2.75rem;
    height: 2.75rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.faq-item.active .arrow {
    transform: rotate(180deg);
    color: #042c4e;
    position: absolute;
    bottom: 20px;
    right: 20px;
 
}

.faq-answer {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    color: #666;
    line-height: 1.6;
    font-size: 1.2rem;
    opacity: 0;
    font-family: "Berlin Sans FB Regular";
    width: 100%;
    box-sizing: border-box;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.faq-item.active .faq-answer {
    padding: 0 0 60px 0;
    max-height: 200px;
    opacity: 1;

}

.register-btn:hover {
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.8) 1.03%, rgba(255, 255, 255, 0.3) 97.67%);
    color: #042c4e;
    transform: translateY(-2px);
    box-shadow: 20px 25px 85px 20px rgba(108, 112, 109, 0.3);
    background: transparent;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid rgba(255, 255, 255, 0.00);
    border: 5px solid color(display-p3 1 1 1 / 0.00);
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.51) 1.03%, #FFF 97.67%);
    background: linear-gradient(91deg, color(display-p3 1 1 1 / 0.51) 1.03%, color(display-p3 1 1 1 / 0.00) 97.67%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px 0 color(display-p3 0 0 0 / 0.25);
    backdrop-filter: blur(10.5px);
}

 .navbar .register-button {
    margin: 0 ;
    font-size : 20px;
    padding: 0px 30px;
 }

.navbar img {
    height: 50px;
    cursor: pointer;
}

.navbar .menu {

}

.navbar .menu a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    color: #0A69BD;
    font-weight: normal;
    font-family: 'BerlinSansFB';
    transition: all 0.3s ease ;
    position: relative;
}

.navbar .menu a::after {
    position: absolute;
    content: '';
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0A69BD ;
    transition: all 0.3s ease;
}


.navbar .menu a:hover::after {
   transform: scaleX(1);
}



.hero {
    margin : 120px 8vw ;
    border-radius: 106px;
    border: 5px solid rgba(255, 255, 255, 0.00);
    border: 5px solid color(display-p3 1 1 1 / 0.00);
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.51) 1.03%, #FFF 97.67%);
    background: linear-gradient(91deg, color(display-p3 1 1 1 / 0.51) 1.03%, color(display-p3 1 1 1 / 0.00) 97.67%);
    box-shadow: 20px 23px 79px 17px rgba(107, 113, 109, 0.25);
    box-shadow: 20px 23px 79px 17px color(display-p3 0.4245 0.4407 0.4274 / 0.25);
    backdrop-filter: blur(10.5px);
}

.hero-logo img{
  object-fit: cover;
  width: 100%;
}

.hero-logo {
    margin: 36px 80px;
}


.title {
    font-size: 70px;
    color: #004a70;
    font-weight: bold;
}

.tagline {
    font-size: 42px;
    color: #319d50;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.details {
    font-size: 27px;
    color: #0A69BD;
    margin-bottom: 40px;
    margin-right: 80px;
    margin-left: 80px;
    font-family: 'BerlinSansFB';

}

.lamp-div {
    position: absolute;
    right: 0 ;
    z-index: -3;
}

.hero-cont {
    position: relative;
    display: flex;

}

/* RESPONSIVE */
@media (max-width: 850px) {
    .navbar .menu {
        display: none;
    }

    .hero {
        width: 90%;
    }

    .title {
        font-size: 50px;
    }
}