@font-face {
  font-family: 'BerlinSansFB';
  src: url('assets/BRLNSB.TTF') format('TTF'),
       url('assets/BRLNSR.TTF') format('TTF');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #C8ECFF;
    background: color(display-p3 0.8118 0.9216 1);
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

p {
    margin: 0;
}

#About{
    margin-top: 313px;  
    align-items: center; 
}
.about{
    text-align: center;
    width: 100%;
    height: 890px;
}

.about h1{
    color: #0A69BD;
    font-family: "Bagel Fat One";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20;
}

.box-flex{
    display: flex;
    gap: 50px; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-box{
    width: 500px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 106px;
    border: 5px solid rgba(255, 255, 255, 0.00);
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.51) 1.03%, rgba(255, 255, 255, 0.00) 97.67%);
    box-shadow: 20px 23px 79px 17px rgba(108, 112, 109, 0.25);
    backdrop-filter: blur(10.5px);
    justify-content: center;
}

.about-box-cse-logo{
    margin-top: 30px;
    width: 400px;
    height: auto;
}

.about-box-eco-logo{
    margin-top: 40px;
    width: 200px;
    height: auto;
}