@font-face {
  font-family: 'BerlinSansFB';
  src: url('assets/BRLNSB.TTF') format('truetype'),
       url('assets/BRLNSR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #C8ECFF;
    background: color(display-p3 0.8118 0.9216 1);
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

p {
    margin: 0;
}

#About{
    margin-top: 313px;  
    align-items: center; 
}
.about{
    text-align: center;
    width: 100%;
    height: 890px;
}

.about h1{
    color: #0A69BD;
    font-family: "Bagel Fat One";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 100px;
}

.box-flex{
    display: flex;
    gap: 50px; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-box{
    width: 550px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 106px;
    border: 5px solid rgba(255, 255, 255, 0.00);
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.51) 1.03%, rgba(255, 255, 255, 0.00) 97.67%);
    box-shadow: 20px 23px 79px 17px rgba(108, 112, 109, 0.25);
    backdrop-filter: blur(10.5px);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about-box-cse-logo{
    margin-top: 30px;
    width: 400px;
    height: auto;
}

.about-box-eco-logo{
    margin-top: 40px;
    width: 200px;
    height: auto;
}

.about-box p{
    font-family: "Berlin Sans FB";
    color: #0A69BD;
    margin: 35px;
    font-size: 27px;
    text-align: justify;
}

#Sponsors{
    margin-top: 280px;
    margin-bottom: 200px;
    text-align: center;
}

#Sponsors h1{
    color: #0A69BD;
    font-family: "Bagel Fat One";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 100px;
}

.sponsor{
    width: 300px;
    height: 300px;
    display: flex;
    flex-shrink: 0;
    border-radius: 60px;
    border: 5px solid rgba(255, 255, 255, 0.00);
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.51) 1.03%, rgba(255, 255, 255, 0.00) 97.67%);
    box-shadow: 20px 23px 79px 17px rgba(108, 112, 109, 0.25);
    backdrop-filter: blur(10.5px);
    justify-content: center;
    align-items: center;
}

.sponsor img{
    height: 220px;
    width: auto;
}

footer{
    display: flex;
    margin-top: 50px;
    background-color: #0A69BD; 
    height: 135px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-img1{
    position: absolute;
    left: 20px;
    height: 100px;
    width: auto;
}

.footer-img2{
    position: absolute;
    right: 20px;
    height: 110px;
    width: auto;
    padding-top: 8px;
}

footer p{
    font-family: "Berlin Sans FB";
    color: white;
    font-size: 55px;
}

.contact img{
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
}


.title {
    color: #0A69BD;
    font-family: "Bagel Fat One";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}
.title h1 {
    margin-top: 0;
    margin-bottom: 0px; 
}
h1{
 margin-top:0;
 margin-bottom: 0; 
}

.elements {
  position: relative;
  height: 500px; 
  display: flex ;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px; 
}
.image-container {   
  height:460px;
  width:610px;
  z-index: 2;
}
 .video-container {
  position:absolute;
  width: 720px;
  height:430px;
  border-radius: 64px;
  right: 0;
  top:25%;
}
.image-container img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 64px;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button {

  padding: 20px 60px;
  box-sizing: border-box;
  background: linear-gradient(277.15deg, #0a69bdff -13.86%, #006BC3 54.48%, #00315A 121.52%);
  border-radius: 44.5px;
  border: solid linear-gradient(277deg, color(display-p3 0.2704 0.6006 0.8926) -13.86%, color(display-p3 0.0392 0.4118 0.7412) 54.48%, color(display-p3 0.0181 0.1895 0.3412) 121.52%);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  
  font-family: 'BerlinSansFB', 'Berlin Sans FB', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.register-button:hover {
  filter: drop-shadow(0px 7px 7px #00000059);
  transform: translateY(-2px);
}
.register-button:active {
  transform: translateY(0px);
  filter: drop-shadow(0px 3px 3px #00000040);
}

